.RecipeContainer {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #636363;

    .TopSection {
        display: flex;
        align-items: center;
        gap: 24px;

        p:nth-child(1) {
            font-weight: 600;
        }

        p:nth-child(2) {
            color: #5ECE68;
            padding-bottom: 18px;
            font-size: 40px;
            font-weight: 700;
        }
    }

    .IngredientsSection {
        h3 {
            color: #2F2F2F;
        }
    }
}