@import 'src/styles/_mixins';

.RecipeContainer {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #636363;

    .TopSection {
        display: flex;
        align-items: center;
        gap: 24px;

        @include phone {
            align-items: flex-start;
            gap: unset;
            // flex-direction: column;

            div:nth-child(2) {
                display: none;
            }
        }

        p:nth-child(1) {
            font-weight: 600;
        }

        p:nth-child(2) {
            color: #5ECE68;
            padding-bottom: 18px;
            font-size: 40px;
            font-weight: 700;
            // line-height: 46px;

            @include phone {
                font-size: 34px;
                line-height: 42px;
                padding-top: 18px;
            }
        }
    }

    .IngredientsSection {
        h3 {
            color: #2F2F2F;
            padding-bottom: 14px;

            @include phone {
                padding-top: 14px;
            }
        }

        p {
            padding-bottom: 24px;
        }

        div:nth-child(2) {
            padding-bottom: 24px;
        }
    }

    .BottomSection {
        h3 {
            color: #2F2F2F;
            padding-bottom: 24px;
        }

        .ButtonsWrapper {
            display: flex;
            gap: 18px;

            @include phone {
                flex-direction: column;
            }
        }

        .ButtonRoot {
            background-color: #ffffff;
            color: #2F2F2F;
            padding: 24px;
            font-size: 16px;
            border-radius: 12px;
            border: 1px solid #636363;
        }
        
        .ButtonInner {
            padding: 24px 0px;
        }
    }
}