.TextImageContainer {
	display: flex;
	justify-content: space-between;
	padding: 24px;
	padding-top: 48px;
	gap: 48px;
	margin: 0 auto;
  	max-width: 1150px;
}

.Text {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.LargeText {
		font-size: 42px;
		font-weight: 600;
		line-height: 1.4;

		p:nth-child(2) {
			color: #ffb800;
		}
	}

	.SmallText {
		padding-top: 12px;
		color: #636363;
		font-weight: 200;
		font-size: 14px;
		line-height: 1.75;
	}
}

.ImagesWrapper {
	display: flex;
	gap: 12px;
	height: 100%;

	div:nth-child(1) {
		img {
			border-radius: 120px;
			border-left: 1px solid black;
			border-top: 1px solid black;
			padding-left: 5px;
			padding-top: 5px;
		}
	}

	div:nth-child(2) {
		padding-top: 86px;

		img {
			border-radius: 120px;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
			padding-right: 5px;
			padding-bottom: 5px;
		}
	}
}
