@import 'src/styles/_mixins';

.TextImageContainer {
	display: flex;
	justify-content: space-between;
	padding: 24px;
	padding-top: 48px;
	gap: 54px;
	margin: 0 auto;
	max-width: 1150px;
	font-family: 'Poppins';

	@include phone {
		flex-direction: column;
	}
}

.Text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #2f2f2f;

	.LargeText {
		font-size: 52px;
		font-weight: 600;
		line-height: 1.4;

		p:nth-child(2) {
			color: #ffb800;
		}

		@include phone {
			font-size: 46px;
		}
	}

	.SmallText {
		padding-top: 12px;
		color: #636363;
		font-weight: 200;
		font-size: 16px;
		line-height: 1.75;

		@include phone {
			font-size: 12px;
		}
	}
}

.ImagesWrapper {
	display: flex;
	gap: 20px;
	height: 100%;

	div:nth-child(1) {
		img {
			border-radius: 120px;
			border-left: 1px solid black;
			border-top: 1px solid black;
			padding-left: 5px;
			padding-top: 5px;

			@include tablet {
				display: none;
			}

			@include phone {
				height: 225px;
				width: 150px;
				display: none;
			}
		}
	}

	div:nth-child(2) {
		padding-top: 86px;

		img {
			border-radius: 120px;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
			padding-right: 5px;
			padding-bottom: 5px;

			@include phone {
				height: 225px;
				width: 150px;
				display: none;
			}
		}
	}
}

.StartButtonContainer {
	padding-top: 24px;
}
