.QuestionsCardContainer {
	display: flex;
	flex-direction: column;
	height: fit-content;
	margin: auto;
	max-width: 1030px;
	width: 100%;
	justify-content: center;
	text-align: center;
	// padding-top: 24px;
	// padding-bottom: 24px;
	// padding-left: 64px;
	// padding-right: 64px;
	padding: 36px 64px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid lightgray;
	border-radius: 16px;
	background-color: white;
}
