.QuestionsCardContainer {
	font-family: 'Poppins';
	display: flex;
	flex-direction: column;
	height: fit-content;
	margin: auto;
	max-width: 1030px;
	width: 100%;
	justify-content: center;
	text-align: center;
	padding: 36px 64px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid lightgray;
	border-radius: 16px;
	background-color: white;
}

.StepIcon {
	font-size: 16px;
}

.Separator {
	height: 4px !important;
	border-radius: 4px;
}