.HeaderContainer {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	align-items: center;
}

.LeftSideIcons {
}

.RightSideIcons {
	color: #424242;
	display: flex;
	gap: 16px;
}
