@import 'src/styles/_mixins';

.HeaderContainer {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	align-items: center;
	padding-top: 16px;
}

.LeftSideLogo {
	cursor: pointer;
}

.RightSideIcons {
	color: #424242;
	display: flex;
	align-items: center;
}

.LoginModalBtn {
	background: transparent;
	color: #424242;
	padding-left: 8px;

	@include phone {
		padding-right: unset;
	}
}

.FavoriteModalBtn {
	background: transparent;
	color: #424242;
}
