.StepContainer {
    font-family: 'Poppins';
    color: #2f2f2f;
}

.TopSection {
    padding-top: 24px;
    padding-bottom: 16px;

    p:nth-child(1){
        font-size: 48px;
        font-weight: 700;
    }

    p:nth-child(2){
        font-size: 16px;
        color: #636363;
    }
}

.SelectPillsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.SearchInput {
    border-radius: 16px;
}

.SearchPill {
    display: none;
}

.PillRoot {
    background-color: green;
    color: white;
}
