@import 'src/styles/_mixins';

.StepContainer {
    font-family: 'Poppins';
    color: #2f2f2f;
}

.TopSection {
    padding: 24px 0px;

    p:nth-child(1) {
        font-size: 48px;
        font-weight: 700;

        @include phone {
            font-size: 36px;
            padding-bottom: 12px;
        }
    }

    p:nth-child(2) {
        font-size: 16px;
        color: #636363;

        @include phone {
            font-size: 14px;
            padding-bottom: 16px;
        }
    }
}

.SelectPillsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.SearchInput {
    border-width: 1.5px;
    border-radius: 28px;
    height: 54px;
    font-size: 18px;
    align-items: center;
    padding-top: 10px;
}

.SearchInput:focus-within {
    border-color: #5ECE68;
}

.SearchPill {
    display: none;
}

.SearchSection {
    color: #B3B3B3;
    margin: 8px;
}

.PillContainer {
    padding-top: 16px;
}

.PillRoot {
    background-color: transparent;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 600;
    border: 0.5px solid #B3B3B3;
}